# zygote: Service用于通知init进程创建名为可zygote的进程
# /system/bin/app_process64: 进程执行程序的路径
# -Xzygote /system/bin --zygote --start-system-server: 参数

# class main: 指的是Zygote的classname为main

service zygote /system/bin/app_process64 -Xzygote /system/bin --zygote --start-system-server
    class main
    priority -20
    user root
    group root readproc
    socket zygote stream 660 root system
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart audioserver
    onrestart restart cameraserver
    onrestart restart media
    onrestart restart netd
    onrestart restart wificond
    writepid /dev/cpuset/foreground/tasks
